### PHPStorm configuration
.idea/

### PHP_CodeSnifer Cache
.php_cs.cache

### Symfony
/bin/behat
/bin/.phpunit
/bin/doctrine*
/bin/phpcbf
/bin/phpcs
/bin/php-parse
/bin/var-dump-server
/bin/csv2xlsx
/bin/phantomjs
/bin/database-anonymizer

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
